body {
    font-family: Arial;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid {
    height: 4vw;
    width: 4vw;
    margin: 0.1em;
    margin-bottom: 0.2em;
    text-align: center;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
}
.key {
    height: 12vw;
    width: 12vw;
    font-size: 5vw;
    margin: 0.1em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: lightgrey;
    user-select: none;
}
.button {
    color: #444;
    margin: 0.2em;
}
.button:hover,
.button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.empty {
    border-color: lightgrey;
}
.staged {
    border-color: grey;
}
.missed {
    border-color: grey;
    background-color: grey;
    color: white;
}
.hit {
    border-color: forestgreen;
    background-color: forestgreen;
    color: white;
}
.partial-hit {
    border-color: goldenrod;
    background-color: goldenrod;
    color: white;
}
.key:hover {
    filter: brightness(1.1);
}
.key:active {
    filter: brightness(1.05);
}
@media screen and (min-width: 992px) {
    .grid {
        height: 50px;
        width: 50px;
        font-size: 28px;
    }
}
@media screen and (min-width: 600px) {
    .key {
        height: 50px;
        width: 40px;
        font-size: 24px;
    }
    .small {
        height: 26px;
        width: 26px;
        font-size: 20px;
    }
}

/* modal is from https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Box */
#modal-box {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 0.5em;
    width: 80%;
}

@media screen and (min-width: 600px) {
    #modal-box {
        width: 480px;
    }
}

/* The Close Button */
#close {
    float: right;
}
#modal-title {
    font-size: 2em;
}

.item-left {
    width: 75%;
    text-align: left;
    font-weight: bold;
}
.item-right {
    width: 25%;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}